{% if not pkAlertDisable %}
  <div class="pk-alert pk-alert--{{ data.global.pkAlertAlignment }}">
    <div class="pk-alert__inner">
      {% if data.global.pkAlertText %}
        <div class="pk-alert__text">
          {{ apos.areas.richText(data.global.pkAlertText) }}
        </div>
      {% endif %}
      {% if data.global.pkAlertButton %}
        <button type="button" class="pk-alert__button">
          {{ data.global.pkAlertButton }}
        </button>
      {% endif %}
    </div>
  </div>
{% endif %}
